*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  min-width: 1200px;
}
.header {
  background-image: url(./images/header-background.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1012px;
  display: flex;
  flex-direction: column;
}
.header-menu {
  height: 120px;
  background: rgba(94, 93, 88, 0.6);
  display: flex;
  align-items: stretch;
  justify-content: center;
  padding: 0;
}
.header-menu-logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.header-menu-logo-icon {
  position: relative;
}
.header-menu-logo-img-text {
  font-weight: 700;
  font-size: 40px;
  line-height: 31px;
  color: #ffffff;
  margin: 0;
  position: absolute;
  left: 13px;
  top: 18px;
}
.header-menu-logo-text {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 32px;
  color: #ffffff;
  margin-left: 6px;
}
.header-menu-text-accent {
  font-weight: 700;
  color: #18cfab;
}
.header-menu-nav-list {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: stretch;
  margin-left: 300px;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}
.header-menu-nav-list-item {
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  margin-right: 21px;
  border-bottom: solid;
  border-color: transparent;
  padding-top: 49px;
}
.header-menu-nav-list-item-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
.header-menu-nav-list-item-link-search-icon {
  fill: #ffffff;
}
.header-menu-nav-list-item:hover .header-menu-nav-list-item-link {
  color: #18cfab;
  fill: #18cfab;
}
.header-menu-nav-list-item:hover {
  border-color: #18cfab;
}
.header-menu-nav-list-item:hover .header-menu-nav-list-item-link-search-icon {
  fill: #18cfab;
}
.header-title {
  text-align: center;
  margin-top: 251px;
  font-weight: 700;
  color: #ffffff;
}
.header-title-main {
  font-size: 35px;
  text-transform: uppercase;

  margin-bottom: 0;
}
.header-title-main-accent {
  color: #18cfab;
}
.header-title-slogan {
  margin-top: 22px;
  margin-bottom: 0;
  font-size: 78px;
  text-transform: uppercase;
}
.header-title-sub {
  margin-top: 22px;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 36px;
}
.button {
  margin-top: 122px;
  display: flex;
  justify-content: center;
}
.button-background {
  background-color: #fff;
  border-radius: 5px;
  width: 169px;
  height: 63px;
  position: relative;
  cursor: pointer;
}
.button .button-background {
  margin-right: 13px;
  margin-left: 13px;
}
.button-main {
  border-radius: 5px;
  width: 169px;
  height: 63px;
  position: absolute;
  top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.button-green {
  background-color: #18cfab;
}
.button-blue {
  background-color: #00cbf6;
}
.button-main-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;

  color: #ffffff;
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 377px;
  margin-top: 8px;
}
.properties.black {
  background-color: #1c2a33;
}
.properties.blue {
  background-color: #18cfab;
}
.properties {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 95px;
  padding-bottom: 110px;
  justify-content: space-evenly;
}
.properties-text {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  color: #ffffff;
}
.container {
  width: 1160px;
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  padding-top: 95px;
}
.title {
  font-weight: 400;
  font-size: 36px;
  text-align: center;
  color: #4e4e4e;
  margin: 0;
}
.title::after {
  content: "";
  display: block;
  margin-left: 542px;
  margin-top: 26px;
  width: 75px;
  border-bottom: 1px solid #18cfab;
}
.title-line {
  margin: 0;
}
.title-line::after {
  content: "";
  display: block;
  margin-left: 552px;
  margin-top: 2px;
  width: 75px;
  border-bottom: 1px solid #18cfab;
}
.list {
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  display: flex;
  list-style: none;
}
.list-item {
  width: 192px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #edefef;
  position: relative;
  font-weight: 400;
  font-size: 16px;
  color: #3d3d3d;
}
.list-item-decor {
  display: none;
  position: absolute;
  top: 69px;
}
.list-item.active {
  background-color: #18cfab;
}
.list-item-decor.active {
  display: block;
}
.list-item:hover {
  border: 1.5px solid #18cfab;
}
.service-description-wrapper {
  height: 180px;
  display: none;
}
.service-description-wrapper.active {
  display: block;
}
.service-description {
  display: none;
}
.service-description {
  display: flex;
  margin-top: 25px;
}
.service-description-img {
  margin-right: 15px;
}
.text {
  font-weight: 400;
  font-size: 14px;
  color: #5c5c5c;
}
.advertisment {
  background-image: url(./images/backgroundImgAdvertisment.jpg);
  background-position: center;
  background-size: cover;
  height: 476px;
  margin-top: 91px;
}
.advertisment-title {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: #18cfab;
  padding-top: 127px;
  margin: 0;
}
.advertisment-subtitle {
  font-weight: 400;
  font-size: 16px;
  color: #d8d8d8;
  margin-top: 12px;
  margin-bottom: 0;
}
.advertisment .button-background {
  margin-top: 62px;
}
.advertisment .container {
  align-items: center;
}
.work {
  background-color: #e9edef;
}
.images-grid-container {
  margin-top: 71px;
  margin-bottom: 70px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  display: grid;
}
.work-img {
  background-color: transparent;
  width: 290px;
  height: 211px;
  display: none;
}
.work-img.filter.load-active {
  display: block;
}
.work-img-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.work-img:hover .work-img-inner {
  transform: rotateY(180deg);
}
.work-img-front,
.work-img-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.work-img-back {
  width: 290px;
  height: 211px;
  border-top: 6px solid #18cfab;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: rotateY(180deg);
  background-color: #e9edef;
}
.work-img-back-icon {
  margin-top: 40px;
  display: grid;
  gap: 3px;
  grid-template-columns: 1fr 1fr;
}
.work-img-back-link-container {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid #18cfab;
}
.work-img-back-link-container:hover {
  background-color: #18cfab;
}
.work-img-back-link-container:hover .work-icon {
  fill: #e9edef;
}

.work-img-back-title {
  margin-top: 24px;
  font-style: normal;
  font-weight: 700;
  font-size: 14.1771px;
  text-transform: uppercase;
  color: #18cfab;
}
.work-img-back-subtitle {
  margin-top: 10px;
  font-style: normal;
  font-weight: 300;
  font-size: 12.1518px;
  color: #8a8a8a;
}
.button-load-more.hide {
  display: none;
}
.button-load-more {
  border-radius: 5px;
  width: 169px;
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #18cfab;
  margin: 0 auto 99px auto;
  cursor: pointer;
}
.button-load-more svg {
  margin-right: 15px;
}
.centered {
  width: 100px;
  height: 100px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  display: none;
}
.centered.active {
  display: inline-block;
}
.blob-1,
.blob-2 {
  width: 18px;
  height: 18px;
  position: absolute;
  background: #f7f57b;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.blob-1 {
  left: 20%;
  animation: osc-l 2.5s ease infinite;
}
.blob-2 {
  left: 80%;
  animation: osc-r 2.5s ease infinite;
  background: #00cbf6;
}
@keyframes osc-l {
  0% {
    left: 20%;
  }
  50% {
    left: 50%;
  }
  100% {
    left: 20%;
  }
}
@keyframes osc-r {
  0% {
    left: 80%;
  }
  50% {
    left: 50%;
  }
  100% {
    left: 80%;
  }
}
.news-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: auto;
  gap: 36px;
  padding: 0;
  margin-top: 40px;
}
.news-list-link {
  text-decoration: none;
}
.news-list-item {
  list-style: none;
  position: relative;
}
.news-list-item-date {
  width: 70px;
  height: 68px;
  background-color: #203e38;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.date {
  margin: 0;
}
.month {
  margin: 0;
}
.news-list-item-title {
  display: block;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  color: #717171;
  margin-top: 10px;
  margin-left: 15px;
}
.news-list-item-subtitle {
  font-size: 14px;
  font-weight: 300;
  color: #777777;
  margin: 10px auto 0 15px;
}
.news-list-item:hover .news-list-item-date {
  background-color: #18cfab;
}
.news-list-item:hover .news-list-item-title {
  color: #18cfab;
}
.about {
  background-image: url(./images/backgroundImgAbout.jpg);
  height: 853px;
}
.about .title {
  color: #ffffff;
}
.about-icon {
  margin: 40px auto 0 auto;
}
.about-subtitle {
  font-weight: 300;
  font-size: 16px;
  color: #bbbbbb;
  margin-top: 36px;
  margin-bottom: 0;
}
.slider-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 37px;
  margin-bottom: 0;
}
.slider-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.slider-bottom {
  display: flex;
  flex-direction: row;
}
.slider-item {
  margin-right: 15px;
  margin-left: 15px;
  transition: left 3s;
}
@keyframes active-img {
  50% {
    transform: translateY(-35%);
  }
  100% {
    transform: translateY(0%);
  }
}
.active-img {
  animation: active-img 1s ease-in-out;
}
.slider-item-top {
  display: none;
}
.slider-item-top.active {
  display: block;
}

.slider-item-name {
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: #18cfab;
  margin: 0;
}
.slider-item-job {
  font-weight: 400;
  font-size: 16px;
  color: #bbbbbb;
  margin-top: 15px;
  margin-bottom: 0;
}
.slider-item-photo.top {
  border: 10px solid rgba(31, 218, 181, 0.2);
  border-radius: 50%;
  margin-top: 38px;
  margin-bottom: 0;
}
.slider-item-photo.bottom {
  border: 5px solid rgba(31, 218, 181, 0.2);
  border-radius: 50%;
  margin: 0;
}
.slider-item-arrow {
  border: 1px solid #fff;
  margin-right: 15px;
  margin-left: 15px;
}
.slider-item-arrow:hover {
  border-color: #18cfab;
  background-color: #18cfab;
}
.grid {
  margin-bottom: 10px;
}
.grid3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: auto;
  gap: 3px;
}
.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  gap: 3px;
}
.grid-item {
  margin: 3px;
  display: none;
}
.grid-item.active {
  display: grid;
}
.gallery .button-load-more {
  margin-top: 52px;
}
.footer {
  height: 121px;
  background: #22353f;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-text {
  font-weight: 300;
  font-size: 14px;
  color: #aeaeae;
}
.footer-text-accent {
  color: #18cfab;
}
